<!-- For practice, before extending Bootstrap instead -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- {block} should be inside style. When inside <style>, will get the error, css l-curly expected.
        Can install extension 'Better Jinja', then at the bottom right, change 'HTML' to 'Jinja HTML' 
        The purple background still works despite the errors though -->
    <!--
    <style>
    {% block styling %}
        body{
            background: purple;
        }
    {% endblock %}
    </style>
    -->
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>